[user]
	name = nikezono
	email = nikezono@gmail.com
[github]
  user = nikezono
[color]
  ui = auto
  branch = auto
  status = auto
  diff = auto
  grep = auto
[push]
  default = tracking
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  cam = commit -a --amend
  pom = pull origin master
  ls  = ls-files -v
  today = "!sh -c 'git log --reverse --no-merges --branches=* --date=local --since=midnight --oneline --author=\"`git config --get user.name`\"'"

[core]
	editor = vim
  excludesfile = ~/.gitignore_global  # globalな.gitignoreの指定
